body{
   /* font-family: 'Amatic SC', cursive;*/
   font-family: 'Montserrat', sans-serif;
   color:white;
   background-color: black;
}

/*PARA LAS CARTAS*/
.b-container{
   display:inline-block;
   position:relative;
}

.b-container a{
   font-size: 0.6rem;
   position: absolute;
   bottom:1em;
   right:1em;
   background-color:#8F0005;
   border-radius:1.5em;
   color:white;
   text-transform:uppercase;
   }

   /*PARA LOS BOTONES*/
button {
   
   padding:0.1rem 0.3rem;
   margin:0 0.5rem;
   font-size:1rem;
   border-top-left-radius: 255px 15px;
   border-top-right-radius: 15px 225px;
   border-bottom-right-radius: 225px 15px;
   border-bottom-left-radius:15px 255px;
   
}

button:hover{
   box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
}
button.lined.thick{
   border:solid 3px #41403E;
}
button.dotted.thick{
   border:dotted 3px #41403E;
}
button.dashed.thick{
   border:dashed 3px #41403E;
}
button.lined.thin{
   border:solid 1px #41403E;
}
button.dotted.thin{
   border:dotted 2px #41403E;
}
button.dashed.thin{
   border:dashed 2px #41403E;
}

/*PARA LOS INPUTS*/
.border_sketch{
   background:transparent;
   padding:0.1rem 0.3rem;
   margin:0 0.5rem;
   font-size:1rem;

   border-top-left-radius: 255px 15px;
   border-top-right-radius: 15px 225px;
   border-bottom-right-radius: 225px 15px;
   border-bottom-left-radius:15px 255px;
}
.input_search_card{
   width:300px;
}
/*PARA LAS LISTAS*/
li a{
   text-decoration: none;
   color: black;
   font-size: 1.0rem;  
}


td a{
   text-decoration: none;
   color: rgb(195, 6, 6);
   font-size: 1.0rem;  
}


.listado_cartas{
   
}

.carta_tumb{
   position: relative;
   width:auto;
   height:  150px;
   border: 1px solid #fff;
   transform-style: preserve-3d;
	transform: rotatey(0deg) translatex(0px) translatey(0px);
	transition: all 0.6s cubic-bezier(0.680, -0.550, 0.265, 1.550);
   z-index: 0;

   &.open{
      position:fixed;
      top: 20%;
      left: 40%;
      transform: rotatey(-360deg) translatex(0px) translatey(0px);
      height:  350px;
      z-index: 1;
      
   }

}

.carta_tumb_foil{
   width:auto;
   height:  150px;
   box-shadow: 0px 1px 32px 2px rgba(194,189,56,1);
   -webkit-box-shadow: 0px 1px 32px 2px rgba(194,189,56,1);
   -moz-box-shadow: 0px 1px 32px 2px rgba(194,189,56,1);
   transform-style: preserve-3d;
	transform: rotatey(0deg) translatex(0px) translatey(0px);
	transition: all 0.6s cubic-bezier(0.680, -0.550, 0.265, 1.550);
   z-index: 0;

   &.open{
      position:fixed;
      top: 20%;
      left: 40%;
      transform: rotatey(-360deg) translatex(0px) translatey(0px);
      height:  350px;
      z-index: 1;
   }
}

a.button {
   text-decoration: none;
   color:#fff;
   background: black;
   padding:0.3rem 0.3rem;
   margin:0.5rem 0.5rem;
   font-size:1rem;

   border-top: 1px solid #CCCCCC;
   border-right: 1px solid #333333;
   border-bottom: 1px solid #333333;
   border-left: 1px solid #CCCCCC;
   border:solid 2px #41403E;
}
a.btn {
   text-decoration: none;
   color:#fff;
   background: black;
   padding:0.3rem 0.3rem;
   margin:0.5rem 0.5rem;
   font-size:1rem;

   border-top: 1px solid #CCCCCC;
   border-right: 1px solid #333333;
   border-bottom: 1px solid #333333;
   border-left: 1px solid #CCCCCC;
   border:solid 2px #41403E;
}
a.button:hover{
   box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
}
a.button.lined.thick{
   
}

.contenido{
  
   background: rgb(54,79,107);
   background: linear-gradient(45deg, rgba(54,79,107,1) 0%, rgba(103,122,143,1) 100%);
   border-radius: 10px;
   color: #abc9fe;
   
}
.contenido::after{
   opacity: 0.25;
   background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}

.garde {
   font-family: 'Garde';
   font-weight: normal;
   font-style: normal;
}

h1.garde{
   font-family: 'Garde';
   font-weight: normal;
   font-style: normal;
   color: #F77e0d;
   font-size: 4rem;
   text-align: center;
}

h2.garde{
   font-family: 'Garde';
   font-weight: normal;
   font-style: normal;
   color: #F77e0d;
   font-size: 3rem;
   text-align: center;
}

div.logo_orange {
   display: flex;
   justify-content: center;
   align-items: center;
 }

img.logo_orange {
   
 }

.naranjo{
   color: #F77e0d;
 }


 :root {
   --theadColor: #000;
    --theadTextColor: #fff;
    --darkColor:#000;
    --lightColor:#fff;
    --darkRowColor: #1b1d1b;
  }
 

table.dataTable {
         border:1px solid #f4d805;
         background-color: #000;

        }
 
       th,tr
        {
          border-color: #f4d805 !important;
          background-color: #596E85 !important;
        }
        td{
         background-color: #afc9e6 !important;
        }
 
       thead {
          background-color: var(--theadColor);
        }
        thead > tr,
        thead > tr > th {
          background-color: #596E85;
          color: var(--theadTextColor) !important;
          font-weight: normal;
          text-align: start;
        }
        tbody >tr >td{
         background-color: #596E85;
        }
 
       table.dataTable thead th,
        table.dataTable thead td {
          border-bottom: 0px solid #111 !important;
        }
 
       .dataTables_wrapper > div {
          margin: 5px;
        }
 
       table.dataTable.display tbody tr.even > .sorting_1,
        table.dataTable.order-column.stripe tbody tr.even> .sorting_1, 
        table.dataTable.display   tbody tr.even,
        table.dataTable.display tbody tr.odd > .sorting_1,
        table.dataTable.order-column.stripe tbody tr.odd > .sorting_1,
        table.dataTable.display tbody tr.odd {
          background-color:   #596E85 !important;
          color:var(--lightColor);
          
        }
 
       table.dataTable thead th {
          position: relative;
          background-image: none !important;
          
        }
 
       table.dataTable thead th.sorting:after,
        table.dataTable thead th.sorting_asc:after,
        table.dataTable thead th.sorting_desc:after {
          position: absolute;
          top: 12px;
          right: 8px;
          display: block;
          font-family: "Font Awesome\ 5 Free";
        }
 
       table.dataTable thead th.sorting:after {
          content: "\f0dc";
          color: #ddd;
          font-size: 0.8em;
          padding-top: 0.12em;
        }
 
       table.dataTable thead th.sorting_asc:after {
          content: "\f0de";
        }
 
       table.dataTable thead th.sorting_desc:after {
          content: "\f0dd";
        }
 
       table.dataTable.display tbody tr:hover > .sorting_1,
        table.dataTable.order-column.hover tbody tr:hover > .sorting_1,
        tbody tr:hover {
          background-color: var(--darkColor) !important;
          color: #fff;
        }
 
       .dataTables_wrapper .dataTables_paginate .paginate_button.current, 
        .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
               background: none !important;
               border-radius: 50px;
           background-color: var(--theadColor) !important;
           color:var(--lightColor) !important
        }
        .dataTables_wrapper .dataTables_paginate .paginate_button{
         color:var(--lightColor) !important;
        }
       
 
 .paginate_button.current:hover
  {
          background: none !important;
               border-radius: 50px;
               background-color: var(--theadColor) !important;
           color:#fff !important
  }
 
 .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover ,
  .dataTables_wrapper .dataTables_info
  {
    border: 1px solid #979797;
    background: none !important;
    border-radius: 50px !important;
     background-color: #000 !important;
     color: #fff !important;
    
  }

  .dataTables_length label{
   color:#fff;
  }

  .dataTables_length select{
   background-color: #000;
   color:#fff;
  }
  .dataTables_length option{
   background-color: #000;
   color:#fff;
  }

  .dataTables_filter label{
   color:#fff;
  } 
  .dataTables_filter input{
   color:#fff;
  }

  .table-striped>tbody>tr:nth-of-type(odd):hover{
   color:#fff;
   
  }
  .table-striped>tbody>tr:nth-of-type(odd){
   color:#2d07d3;
   
  }
  .table-striped>tbody>tr:nth-of-type(even){
   color:#2d07d3;
  }

  .card-body p{
   color:#fff;
   background-color: #000;
  }
  .card-header{
   color:#fff;
   background-color: #000;
  }

  .modal-header{
   color:#fff;
   background-color: #000;
  }
  .modal-body{
   color:#fff;
   background-color: #000;
  }
  .modal-footer{
   color:#fff;
   background-color: #000;
  }

.card-body>a.btn {
   font-size: 0.6rem;
   position: absolute;
   bottom: 0.1em;
   right: 1em;
   background-color: #8F0005;
   border-radius: 1.5em;
   color: white;
   text-transform: uppercase;
}

.separador{
   margin-top:4rem;
}

.foil img{
   box-shadow: 0px 1px 32px 23px rgba(194,189,56,1);
   -webkit-box-shadow: 0px 1px 32px 23px rgba(194,189,56,1);
   -moz-box-shadow: 0px 1px 32px 23px rgba(194,189,56,1);
}



.grafico{
   width: 80%;
}

@media (max-width: 768px) {
   .container {
     width: 100%;
     max-width: none;
   }
 }

 .my-strip:nth-child(odd) {
   background-color: #5C7087;
 }

 .my-strip:nth-child(even) {
   background-color: #86a0be;
 }

 