
body{
   /* font-family: 'Amatic SC', cursive;*/
   font-family: 'Montserrat', sans-serif;
}

/*PARA LAS CARTAS*/
.b-container{
   display:inline-block;
   position:relative;
}

.b-container a{
   font-size: 0.6rem;
   position: absolute;
   bottom:1em;
   right:1em;
   background-color:#8F0005;
   border-radius:1.5em;
   color:white;
   text-transform:uppercase;
   }

   /*PARA LOS BOTONES*/
button {
   background:transparent;
   padding:0.1rem 0.3rem;
   margin:0 0.5rem;
   font-size:1rem;
   border-top-left-radius: 255px 15px;
   border-top-right-radius: 15px 225px;
   border-bottom-right-radius: 225px 15px;
   border-bottom-left-radius:15px 255px;
}

button:hover{
   box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
}
button.lined.thick{
   border:solid 3px #41403E;
}
button.dotted.thick{
   border:dotted 3px #41403E;
}
button.dashed.thick{
   border:dashed 3px #41403E;
}
button.lined.thin{
   border:solid 2px #41403E;
}
button.dotted.thin{
   border:dotted 2px #41403E;
}
button.dashed.thin{
   border:dashed 2px #41403E;
}

/*PARA LOS INPUTS*/
.border_sketch{
   background:transparent;
   padding:0.1rem 0.3rem;
   margin:0 0.5rem;
   font-size:1rem;

   border-top-left-radius: 255px 15px;
   border-top-right-radius: 15px 225px;
   border-bottom-right-radius: 225px 15px;
   border-bottom-left-radius:15px 255px;
}
.input_search_card{
   width:300px;
}
/*PARA LAS LISTAS*/
li a{
   text-decoration: none;
   color: black;
   font-size: 1.0rem;  
}


td a{
   text-decoration: none;
   color: black;
   font-size: 1.0rem;  
}

.listado_cartas{
   
}

.carta_tumb{
   width:auto;
   height:  150px;
}

a.button {
   text-decoration: none;
   color:black;
   background:transparent;
   padding:0.3rem 0.3rem;
   margin:0.5rem 0.5rem;
   font-size:1rem;

   border-top: 1px solid #CCCCCC;
   border-right: 1px solid #333333;
   border-bottom: 1px solid #333333;
   border-left: 1px solid #CCCCCC;
   border:solid 2px #41403E;
}
a.button:hover{
   box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
}
a.button.lined.thick{
   
}

.contenido{
  
   background: rgb(54,79,107);
   background: linear-gradient(45deg, rgba(54,79,107,1) 0%, rgba(103,122,143,1) 100%);
   border-radius: 10px;
   color: #abc9fe;
   
}
.contenido::after{
   opacity: 0.25;
   background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}

.garde {
   font-family: 'Garde';
   font-weight: normal;
   font-style: normal;
}

h1.garde{
   font-family: 'Garde';
   font-weight: normal;
   font-style: normal;
   color: #F77e0d;
   font-size: 4rem;
   text-align: center;
}

h2.garde{
   font-family: 'Garde';
   font-weight: normal;
   font-style: normal;
   color: #F77e0d;
   font-size: 3rem;
   text-align: center;
}

div.logo_orange {
   display: flex;
   justify-content: center;
   align-items: center;
 }

img.logo_orange {
   
 }

.naranjo{
   color: #F77e0d;
 }

 .separador{
   margin-top:4rem;
}

.foil img{
   border: solid 2px yellow;
}

@media (max-width: 768px) {
   .container {
     width: 100%;
     max-width: none;
   }
 }

 .my-strip:nth-child(odd) {
   background-color: #211e1e;
 }

 .my-strip:nth-child(even) {
   background-color: #4a3838;
 }