{% extends "public.html" %}

{% block titulo %}Registro CTMagic{% endblock %}

{% block contenido %}
    <div class="container contenido logo_orange mt-5 p-5">
        <h1 class="garde d-none d-md-block d-xl-none ">
            CTM.a.g.i.c.
        </h1>

        <h2 class="garde  d-xs-block d-md-none naranjo">
            CTM.a.g.i.c.
        </h2>
        {% load static %}
        <img src='{% static "/imgs/logo_02.png" %}' alt="" class="logo_orange">


    </div>
   

    <div class="container contenido logo_orange mt-5 p-5">
        <div class="row">

            <div class="col-sm-6">
                <h2 >
                    Deja acá tu comentario
                </h2>
            </div>
            <div class="col-sm-6">
                <form action="/contacto" method="post">
                    {% csrf_token %}
                    <div class="form-group col-3">
                        <label for="remitente">Nombre</label>                
                    </div>
                    <div class="col-10">
                        {{ form.remitente }}
                    </div>
                    <div class="form-group col-3">
                        <label for="email">Email</label>
                        
                    </div>
                    <div class="col-10 ">
                        {{ form.email }}
                    </div>
                    <div class="form-group col-3">
                        <label for="mensaje">Mensaje</label>
                        
                    </div>
                    <div class="col-10 mb-3">
                        {{ form.mensaje }}
                    </div>
        
                    <div class="row ms-1 mb-3 d-flex justify-content-left">                   
                            <button type="submit" class="btn btn-primary w-75">Enviar</button>                 
                    </div>
                </form>
            </div>
        </div>
        

    </div>
    
{% endblock %}