{% extends "base.html" %}

{% block titulo %}Detalle Carta{% endblock %}

{% block contenido %}
<h1>
    Agregar detalles 
</h1>
<form action="/card/update/{{carta.id}}" method="post">
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="row">
                    <div class="col">
                        Nombre: {{carta.carta.nombre}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Edición: {{carta.carta.Edicion.nombre}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">Pertece a la lista:</div>
                    <div class="col">{{carta.lista.nombre}}
                        {% if carta.lista.tipo == 'O' %}
                            <i class="bi bi-box-arrow-up" title="Venta/Cambio"></i>
                        {% else %}
                            <i class="bi bi-box-arrow-in-down" title="Busqueda"></i>
                        {% endif %}                        
                    </div>
                </div>

                {% for field in form %}
                <div class="row">
                    <div class='form-group col'>
                        <label for="{{ field.name }}">{{ field.label }}:</label>
                    </div>
                    <div class="col">{{ field }}</div>
                </div>
                {% endfor %}

               


                <div class="row mb-2">
                    <div class="col-4">
                        <button>Guardar</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col"> 
                        <a href="/list/{{carta.lista.id}}" class="button">Regresar a lista</a>
                        
                    </div>
                </div>

            </div>
            <div class="col">
                <img src="{{carta.carta.small_image}}" alt="">
                <p>
                    <a href="https://scryfall.com/card/{{carta.carta.Edicion.set_code}}/{{carta.carta.number_collector_txt}}" target="_blank">
                        Ver en Scryfall
                    </a>
                    
                </p>
            </div>

        </div>


        
        
    </div>
</form>





{% endblock %}

{% block libreria %}
{% endblock %}