{% extends "base.html" %}

{% block titulo %}Listas para  
    {% if lista.tipo == 'B' %}
        Buscar
    {% else %}
        Ofrecer
    {% endif %}
{% endblock %}

{% block contenido %}
<div class="separador"></div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Detalle de la lista: {{lista.nombre}} </h1>
        </div>

        <div class="my-3">
            {% if lista.tipo == 'B' %}
            <a href="/list/hunt" ><button>Volver a mis listas</button></a>
            {% else %}
            <a href="/list/offer"><button>Volver a mis listas</button></a>
            {% endif %}
        </div>        
    </div>
    <div class="row ">
        
        <div class="col-12 {% if duracion > 0 %} bg-info {% else %} bg-warning {% endif  %}">
            Duración : 
            {% if duracion > 0 %}
                {{duracion}} 
                días
            {% else %}
            Expirada! (Puedes volver a activar la lista pinchando AQUI <a href="/list/activar/{{lista.id}}" class="btn btn-sm btn-outline-primary" title="Activar"> <i class="bi bi-play"></i></a>
            )
            {% endif %}
        </div>
        <div class="col"></div>
    </div>
    <div class="row my-3">
        <div class="col-12 ">
            <button id="open_search">
                Agregar nueva carta
            </button>
        </div>
    </div>
    <div class="row " id="new_search">
        <div class="col">
            <form action="/list/search/" method="post">
                {% csrf_token %}
                <input type="search" name="searching_card" id="searching_card" list="cartones" class=" input_search_card" placeholder="Escriba su carta en ingles">
                <input type="hidden" name="action" value="search">
                <button id="get_cartas">Buscar Versiones</button>
                <div id="resultados" class="text-center">

                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% for s in search%}
            <li>
                <a href="/list/{{lista_id}}/{{s.id}}">{{s.nombre}} </a>
            </li>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p>Cartas en la lista : ({{items.count}}) <span Id="span_hidden">Ocultar</span><span Id="span_show" class="d-none">Mostrar</span></p> 

            <div class="table-responsive" id="main_table">
                <table id="lista_cartas" class="table table-striped table-bordered" width="100%" >
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Edicion</th>
                            <th>Cantidad</th>
                            <th>Imagen</th>
                            <th class="dt-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cartaitem in items %}
                        <tr>
                            <td> 
                                <a href="/card/{{cartaitem.id}}">{{cartaitem.carta.nombre}} {% if cartaitem.es_foil %}(Foil){% endif %}</a>                             
                            </td>
                            <td> {{cartaitem.carta.Edicion.nombre}}</td>
                            <td>{{cartaitem.cantidad}}</td>
                            <td> <img src="{{cartaitem.carta.small_image}}" alt="" class="carta_tumb"></td>
                            <td class="dt-center"> 
                                    
                                    <a href="#"  data-href="/card/remove/{{lista_id}}/{{cartaitem.id}}"  class="btn btn-sm btn-outline-danger btn-delete-trv" data-bs-toggle="modal" data-bs-target="#confirm-delete" title="Borrar">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                   
                            </td>
                        </tr>       
                    {% endfor %}
                    </tbody>    
                </table>
            </div>


           
        </div>
    </div>
    <!-- zona de resultados busqueda -->
    {% if lista.tipo == 'B' %}
        <div class="row">
            <div class="col">
                Personas que ofrecen las cartas que buscas:
            </div>
        </div>
        {% if resultado|length > 0 %}
        
        <div class="row">
            <div class="col">
                Busqueda exacta de la carta:
            </div>
        </div>
            <div class="row">
                <div class="col">
                    <div class="table-responsive" id="table_result">
                        <table id="lista_usuarios" class="table table-striped table-bordered" width="100%" >
                            <thead>
                                <tr>
                                    <th>Usuario</th>
                                    <th>Lista</th>
                                    <th>Cantidad de Cartas</th>
                                    <th class="dt-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for r in resultado %}
                                <tr>
                                    <td> 
                                        {{r.name}}                             
                                    </td>
                                    <td> {{r.lname}}</td>
                                    <td> {{r.qty}}</td>
                                    <td class="dt-center">     
                                        <a href="/list/share/{{r.list_id}}?view=img">Ver lista completa</a>  /
                                        <a href="/list/compare/{{lista.id}}/{{r.list_id}}">Ver solo coincidencias</a> 
                                                                    
                                    </td>
                                </tr>       
                            {% endfor %}
                            </tbody>    
                        </table>
                    </div>
                </div>
            </div>
        {% else %}
        <p> No hay otros usuarios que posean las cartas exactas que buscas.</p>
           
        {% endif %}

        {% if resultado_por_nombre|length > 0 %}
        
        <div class="row">
            <div class="col">
                Busqueda por nombre de la carta (si hay dos o más cartas que se llamen igual en tu lista, solo la considera como una)
            </div>
        </div>
            <div class="row">
                <div class="col">
                    <div class="table-responsive" id="table_result">
                        <table id="lista_usuarios" class="table table-striped table-bordered" width="100%" >
                            <thead>
                                <tr>
                                    <th>Usuario</th>
                                    <th>Lista</th>
                                    <th>Cantidad de Cartas</th>
                                    <th class="dt-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for rpn in resultado_por_nombre %}
                                <tr>
                                    <td> 
                                        {{rpn.name}}                             
                                    </td>
                                    <td> {{rpn.lname}}</td>
                                    <td> {{rpn.qty}}</td>
                                    <td class="dt-center">     
                                        <a href="/list/share/{{rpn.list_id}}?view=img">Ver lista completa</a>                                   
                                    </td>
                                </tr>       
                            {% endfor %}
                            </tbody>    
                        </table>
                    </div>
                </div>
            </div>
        {% else %}
        <p m-5>
            No hay otros usuarios que posean las cartas que buscas por el nombre.
        </p>
            
        {% endif %}
    
    {% endif %}
</div>
<datalist id="cartones">

</datalist>

<form action="/list/add/{{lista_id}}" method="post" id="form_agregar">
    {% csrf_token %}
    <input type="hidden" name="set" value="" id="set">
    <input type="hidden" name="card_id" value="" id="card_id">
    <input type="hidden" name="nombre" value="" id="nombre">
    <input type="hidden" name="set_name" value="" id="set_name">
    <input type="hidden" name="img_small" value="" id="img_small">
    <input type="hidden" name="qty" value="" id="qty">

</form>


<div class="modal fade" id="confirm-delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                Esta seguro que desea eliminar esta carta?
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <a class="btn btn-danger btn-ok">Eliminar</a>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="confirm-add" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar nueva carta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                Cantidad?
                <input type="number" value="1" id="qty_to_add" name="qty_to_add" class="mx-5">
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cerrar</button>
                <a class="btn btn-danger btn-add btn-sm" id="agregarBtn">Agregar</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#new_search').hide();

        var oTblReport = $('#lista_cartas')
        

        oTblReport.DataTable({
            "language": { 
                "search": 'Buscar',
                "lengthMenu": "Mostrar _MENU_ registros por página",
                //"info": "Mostrando _ENTRIES_ página _PAGE_ de _PAGES_",
                "paginate":{
                    previous: '‹',
                    next:     '›'
                }
            },
            "aLengthMenu":[[5,10,20,40,-1],[5,10,20,40,"Todos"]],
            "iDisplayLength":{{user.largo_despliegue}}
        });
    });

    $('#searching_card').keyup(function(){
        //console.log(e.key, e.keyCode)
        var buscar=$(this).val();
        //console.log(buscar.length);
        if(buscar.length >3){
            $('#cartones').html("");
            urls="https://api.scryfall.com/cards/autocomplete?q="+buscar;
            console.log(urls);
            axios.get(urls,{
                responseType: 'text'
            })
            .then(function(response){
                option="";
                if(response.status==200) {
                    n=0;
                    //console.log(response.data)
                    response_data=JSON.parse(response.data)
                    //console.log("response_data")
                    //console.log(response_data)
                    $.each(response_data.data, function(i,item){
                        //console.log("item")
                        //console.log(item)
                        //option='<option value=\"'+item.id+'\">'+item.nombre+'</option>'
                        option=option+ "<option value=\""+item+"\">";
                        n++;
                    });
                    //console.log(n)
                    $('#cartones').append(option);
                    //console.log("respuesta")
                    console.log(response);

                    }
                })
            .catch(function(error){
                console.log(error);
            })
            .then(function(){

            });            
        }
    });
    $('#get_cartas').on("click",function(){
        $('#resultados').empty();
        carton= $('#searching_card').val();
    console.log("carton:"+carton);
        carton=carton.replace(" ", "+");
    console.log("carton:"+carton);
        urls="https://api.scryfall.com/cards/search?order=released&dir=desc&q="+carton+"&unique=prints";
        //urls="https://api.scryfall.com/cards/named?exact="+carton;
    console.log("URL:"+urls);
        axios.get(urls,{    
                responseType: 'text'
            })
            .then(function(response){
                option="";
                if(response.status==200) {
                    //console.log(response)
                    response_data=JSON.parse(response.data)
                    //console.log("init")
                    console.log(response_data)
                    //resultado=JSON.parse(response_data)
                    //console.log("resultado...")
                    //console.log(resultado)
                    //console.log("end")
                    $.each(response_data.data, function(i,item){
                        console.log("item")
                        //console.log(item)
                        if (item.layout =='transform'){
                            imagen=item.card_faces[0].image_uris.small
                        
                        }
                        else if(item.layout =='normal'){
                            imagen=item.image_uris.small   
                            imagen=imagen.split("?")                                                
                        }
                        
                        nombre=item.name
                        console.log("nombre:"+nombre+"imagen:"+imagen)   
                        card_id="`"+item.set+"`,`"+item.collector_number+"`,`"+nombre+"`,`"+item.set_name+"`,`"+imagen+"`"
                        //card_id='"'+item.set+'",'+item.collector_number+',"'+nombre+'","'+item.set_name+'"'
                        console.log("img:"+imagen[0])

                        if(item.games.length=1 && item.games[0]=='mtgo' ){
                            return;  
                        }

                        titulo=item.set_name;
                        if(item.border_color=="borderless"){
                            titulo=titulo+" ("+item.border_color+")";
                        }                        
                        
                        if (item.finishes.length==1){
                            if (item.finishes[0]=='etched'){
                                titulo=titulo+" (Foil-Etched)";
                            }
                        }

                        usd="-"
                        if(item.prices.usd != null){
                            usd=item.prices.usd 
                        }
                        usd_foil="-"
                        if(item.prices.usd_foil != null){
                            usd_foil=item.prices.usd_foil
                        }

                        //option='<option value=\"'+item.id+'\">'+item.nombre+'</option>'
                        /*
                        option=option+ "<div class=\"b-container card text-center\" ><div class=\"card-header\">"+titulo+"</div><img src=\""+imagen[0]+"\" id_value=\""+card_id+"\"  class=\"card_result m-1\"  > <div class=\"card-body\"><p>TCGPlayer:"+usd+" usd/"+usd_foil+" usd </p> <button type=\"button\" onclick=\"agregar("+card_id+");\">Añadir </button></div> </div>";
                        */
                        if (imagen[0]=='h'){
                            option=option+ "<div class=\"b-container card text-center\" ><div class=\"card-header\">"+titulo+"</div><img src=\""+imagen+"\" id_value=\""+card_id+"\"  class=\"card_result m-1\"  > <div class=\"card-body\"><p>TCGPlayer:"+usd+" usd/"+usd_foil+" usd </p> ";
                        }
                        else{
                            option=option+ "<div class=\"b-container card text-center\" ><div class=\"card-header\">"+titulo+"</div><img src=\""+imagen[0]+"\" id_value=\""+card_id+"\"  class=\"card_result m-1\"  > <div class=\"card-body\"><p>TCGPlayer:"+usd+" usd/"+usd_foil+" usd </p> ";
                        }
                        
                        option=option+"<a href=\"#\" class=\"btn btn-sm btn-outline-dark btn-add-btn\"  data-bs-toggle=\"modal\" data-bs-target=\"#confirm-add\" title=\"Agregar\" data-id=\""+card_id+"\" href=\"#\"> Agregar </a>";
                        option=option+"</div> </div>";

                        /*
                        <a href="#"  data-href="/card/remove/{{lista_id}}/{{i.id}}"  class="btn btn-sm btn-outline-danger btn-delete-trv" data-bs-toggle="modal" data-bs-target="#confirm-delete" title="Borrar">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                    */
                        
                    });
                    $('#resultados').append(option);
                    console.log(response);
                    $(".card_result").bind("click",function(){
                        var card_id=$(this).attr('id_value');
                        console.log("CI:"+card_id)
                    });

                    $('.btn-add-btn').bind("click",function(){
                        var id = $(this).attr('data-id');
                        $('#agregarBtn').on('click', function() {
                            //console.log(id)
                            vals=id.split('`,`')
                            vals[0]=vals[0].replace('`','')
                            vals[4]=vals[4].replace('`','')
                            //console.log(vals)
                            //console.log("val1:"+vals[0]);
                            agregar( vals[0],vals[1],vals[2],vals[3],vals[4],vals[5],vals[6],vals[7] );
                            //console.log("ID:"+id); // Imprime el id en la consola
                        });
                    });
                }
            })
            .catch(function(error){
                console.log(error);
            })
            .then(function(){

            });  
        return false;   
        }
    ) ;

    function agregar(set,id,nombre,set_name,img_small){
        $('#set').val(set);
        $('#card_id').val(id);
        $('#nombre').val(nombre);
        $('#set_name').val(set_name);
        $('#img_small').val(img_small);
        $('#qty').val($('#qty_to_add').val());
        //console.log("qty:"+$('#qty').val() )
        //console.log(set+";"+id+";"+nombre+";"+set_name+";"+img_small)
        $('#form_agregar').submit();
        /*
        console.log("set:",set);
        console.log("id:",id);
        console.log("nombre:",nombre);
        const data= {
            "set":set,
            "id":id,
            "nombre":nombre
        };
        url="/"
        axios.put(url,data)
            .then(response=> element.innerHTML = response.data.updatedAt);
        
        */
    }

    // para agregar una nueva carta se hace click
    $('#open_search').on('click',function(){
        $('#new_search').fadeIn();
        $('#searching_card').focus();
    })
        //card_id=$this.getAttr('id_value')
    $('#confirm-delete').on('show.bs.modal', function(e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
    }); 

    /*
    $('a.btn[data-bs-toggle="modal"]').on('click', function() {
        var id = $(this).attr('data-id');
        $('#agregarBtn').on('click', function() {
            console.log(id); // Imprime "123" en la consola
        });
    });
    */

    $('#span_hidden').on('click',function(){
        $('#span_show').removeClass('d-none')
        $('#span_hidden').addClass('d-none')
        $('#main_table').addClass('d-none')
    });
    $('#span_show').on('click',function(){
        $('#span_hidden').removeClass('d-none')
        $('#span_show').addClass('d-none')
        $('#main_table').removeClass('d-none')
    });

</script>

{% endblock %}

{% block libreria %}

{% endblock %}