<div class="container contenido mt-2 p-3">
    <div class="row">
      <div class="col-sm-4 logo_orange">
        <p >
          <a href="/inicio#quees" class="naranjo">Que es <span class="garde">CTM.a.g.i.c.</span>?</a>
          
        </p>
      </div>
      <div class="col-sm-4 logo_orange">
        <p><a href="/inicio#como" class="naranjo">Como funciona <span class="garde">CTM.a.g.i.c.</span>?</a>
          </p>
      </div>
      <div class="col-sm-4 logo_orange">
        <p><a href="/inicio#join" class="naranjo">Como me uno a <span class="garde">CTM.a.g.i.c.</span>?</a>
          </p>
      </div>
    </div>
  </div>