{% extends "base.html" %}

{% block titulo %}Listas para buscar{% endblock %}

{% block css %}
{% load static %}
{% endblock %} 

{% block contenido %}
<div class="separador"></div>
<div class="container ">
    <div class="row">
        <div class="col-12">
            <h1>Listas de busquedas</h1>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-12">
            <button id="open_search">
                Crear nueva lista
            </button>
            <a href="/list/view_all_hunt" ><button>Ver todas las cartas buscadas</button></a>
        </div>
    </div>
    <div class="row mb-2" id="new_list">
        <div class="col">
            <form action="/list/hunt/new" method="post">
                {% csrf_token %}
                <input type="text" name="new_list" id="list" placeholder="Nombre de nuevo listado" required>
               <button type="submit">Crear</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
           <p>LISTAS</p> 

            <div class="table-responsive">
                <table id="listas" class="table table-striped table-bordered" width="100%" >
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Cantidad de cartas</th>
                            <th>Estado</th>
                            <th class="dt-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for l in listas %}
                        <tr>
                            <td> 
                                <a href="/list/{{l.id}}">{{l.nombre}}</a>                      
                            </td>
                            <td> {{l.items.count}}</td>
                            <td class="{%if l.estado == 'Activa' %}text-success {% else %}text-warning{% endif %}">{{l.estado}}</td>
                            <td class="dt-center"> 
                                <a href="/list/edit/{{l.id}}" class="btn btn-sm btn-outline-primary" title="Editar detalles"> 
                                    <i class="bi bi-eye"></i></a>
                                    <a href="#"  data-href="/list/remove/{{l.id}}" class="btn btn-sm btn-outline-danger btn-delete-trv" data-bs-toggle="modal" data-bs-target="#confirm-delete" title="Borrar">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                   
                                    {%if l.estado == 'Expirada' %}
                                    <a href="/list/activar/{{l.id}}" class="btn btn-sm btn-outline-primary" title="Activar"> <i class="bi bi-play"></i></a>
                                    {% else %}
                                    <a href="/list/share/{{l.id}}" class="btn btn-sm btn-outline-primary" title="Compartir"> <i class="bi bi-share"></i></a>
                                    {% endif %}
                                   <!-- <a href="/list/desactivar/{{l.id}}" class="btn btn-sm btn-outline-primary" title="Desctivar"> [D]</a> !-->
                                   
                            </td>
                        </tr>       
                    {% endfor %}
                    </tbody>    
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="confirm-delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                Esta seguro que desea eliminar esta lista?
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <a class="btn btn-danger btn-ok">Eliminar</a>
            </div>
        </div>
    </div>
</div>
<script>
     $(document).ready(function() {
        $('#new_list').hide();
        var oTblReport = $('#listas')

        oTblReport.DataTable({
            "language": { 
                "search": 'Buscar',
                "lengthMenu": "Mostrar _MENU_ registros por página",
                //"info": "Mostrando _ENTRIES_ página _PAGE_ de _PAGES_",
                "paginate":{
                    previous: '‹',
                    next:     '›'
                }
            },
            "aLengthMenu":[[5,10,20,40,-1],[5,10,20,40,"Todos"]],
            "iDisplayLength":20
        });
    });

    $('#open_search').on('click',function(){
        $('#new_list').fadeIn();
        $('#list').focus();
    });

    $('#confirm-delete').on('show.bs.modal', function(e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
    }); 
</script>
{% endblock %}

{% block libreria %}
{% endblock %}