{% extends "base.html" %}

{% block titulo %}Listas para ofrecer{% endblock %}

{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-10">
            <h1>Listas para Ofrecer</h1>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-10">
            <button id="open_search">
                Crear nueva lista
            </button>
        </div>
    </div>
    <div  class="row mb-2" id="new_list">
        <div class="col">
            <form action="/list/offer/new" method="post">
                {% csrf_token %}
                <input type="text" name="new_list" id="new_list">
               <button type="submit">Crear</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
           <p>LISTAS</p> 
           <div class="table-responsive">
            <table id="listas" class="table table-striped table-bordered" width="100%" >
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Cantidad de cartas</th>
                        <th class="dt-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for l in listas %}
                    <tr>
                        <td> 
                            <a href="/list/{{l.id}}">{{l.nombre}}</a>                      
                        </td>
                        <td> {{l.items.count}}</td>
                        <td class="dt-center"> 
                                <a href="#"  data-href="/card/remove/{{lista_id}}/{{i.id}}"  class="btn btn-sm btn-outline-danger btn-delete-trv" data-bs-toggle="modal" data-bs-target="#confirm-delete" title="Borrar">
                                    <i class="bi bi-trash"></i>
                                </a>
                               
                        </td>
                    </tr>       
                {% endfor %}
                </tbody>    
            </table>
        </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
       $('#new_list').hide();

       var oTblReport = $('#listas')

       oTblReport.DataTable({
           "language": { 
               "search": 'Buscar',
               "lengthMenu": "Mostrar _MENU_ registros por página",
               //"info": "Mostrando _ENTRIES_ página _PAGE_ de _PAGES_",
               "paginate":{
                   previous: '‹',
                   next:     '›'
               }
           },
           "aLengthMenu":[[5,10,15,25,-1],[5,10,15,25,"Todos"]],
           "iDisplayLength":20
       });
   });

   $('#open_search').on('click',function(){
       $('#new_list').fadeIn();
   });
</script>
{% endblock %}

{% block libreria %}
{% endblock %}