{% extends "base.html" %}

{% block titulo %} {% if lista.tipo == 'B' %}Lista de busqueda de{% elif lista.tipo == 'O' %}Lista para ofrecer de{% endif %}  {{usuario}} {% endblock %}

{% block contenido %}


<h2>
    {{lista.nombre}} by 
    {% if nickname != '' %}
    {{nickname}}
    {% else %}
    {{usuario}} 
    {% endif %}
    ( {% if lista.tipo == 'B' %}Busco{% elif lista.tipo == 'O' %}Venta/Cambio{% endif %} )
</h2>
<h3>
    {% if ubicacion != '' %}Ubicación:{{ubicacion}} {% endif %}
</h3>
<a href="/list/share/{{lista.id}}?view=list">Ver listado </a>| 
<a href="/list/share/{{lista.id}}?view=img">Ver Imagenes </a>

{% if request.session.user.id == usuario_id %}
    <div class="" >URL:
        <span id="url"></span>
        <button onclick="copy('#url')" id="to_copy">Copiar enlace al clipboard</button>
    </div>
{% endif %}
{% if request.session.user %}
    {% if nickname != '' %}
        {% if request.session.user.id == usuario_id %}
            Usted compartira el siguinte listado, con el nick: {{nickname}}
            <p>Para poder compartir la lista, te solicitamos la creación de un Username 
                y así resguardar información personal que solo debe ser compartida por miembros registrados.</p>
            <p>En caso de no querer usar un nick, se mostrará su nombre. </p>
    
            <form action="/list/share/{{lista.id}}" method="POST" id="set_nick">
                {% csrf_token %}
                <input type="text" name="nick" >
                <button id="send_nick" type="submit">Crear Nick</button>
            </form>
        {% endif %}
    

        
    {% endif %}
{% endif %}

{% if vista == 'lista' %}
<div class="container">
    <div class="row">
        <div class="col-10">
            <p>Cartas en la lista : ({{items.count}})</p> 
            <div class="table-responsive">
                <table id="lista_cartas" class="table table-striped table-bordered" width="100%" >
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Edicion</th>
                            <th>Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in items %}
                        <tr>
                            <td> 
                                <a href="https://scryfall.com/card/{{i.carta.Edicion.set_code}}/{{i.carta.number_collector}}"  title="Ver en scryfall">{{i.carta.nombre}}</a>                             
                            </td>
                            <td> {{i.carta.Edicion.nombre}}</td>
                            <td>{{i.cantidad}}</td>                            
                        </tr>       
                    {% endfor %}
                    </tbody>    
                </table>
            </div>
        </div>
    </div>
  
</div>
{% elif vista == 'imgs' %}
    {% if items.count > 0 %}
    <div class="row">
        {% for i in items %}
        <div class="card" style="width: 7rem;">   
            <a href="https://scryfall.com/card/{{i.carta.Edicion.set_code}}/{{i.carta.number_collector}}" target="_blank" title="Ver en scryfall">
            <img src="{{i.carta.small_image}}" style="width: 6rem;">
            </a>
            <div class="card-title mb-2 text-muted ">
                {{i.carta.nombre}} x <b>{{i.cantidad}} ({{i.carta.Edicion.set_code}})</b>
            </div>   
          
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No existen elementos para esta lista</p>
        
    {% endif %}
{% endif %}

<script>
    $( document ).ready(function() {

        url= document.location.href
        url_ante= document.referrer
        console.log(url_ante)
        $("#url").text(url)
    });
    

    function copy(selector){
        var $temp = $("<div>");
        $("body").append($temp);
        $temp.attr("contenteditable", true)
            .html($(selector).html()).select()
            .on("focus", function() { document.execCommand('selectAll',false,null); })
            .focus();
        document.execCommand("copy");
        $temp.remove();
        toastr.success("Url copiada con exito!")
        }
   
</script>
{% endblock %}

{% block libreria %}

{% endblock %}