{% extends "../base.html" %}

{% block titulo %}Mensajes Enviados{% endblock %}

{% block contenido %}
<div class="separador"></div>
<h1>Mensajes Enviados</h1>
<a href="/msg/get">Ir a Recibidos</a>
<div class="container">
    <div class="row">
        {% if mensajes.count > 0 %}
        <div class="col-12">
            <div class="table-responsive" id="main_table">
                <table id="lista_mensajes" class="table table-striped table-bordered" width="100%" >
                    <thead>
                        <tr>
                            <th>Para</th>
                            <th>Fecha</th>
                            <th class="d-none">Estado</th>
                            <th class="dt-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for m in mensajes %}
                        <tr>
                            <td class="dt-center"> 
                                <a href="/user/{{m.to_user.id}}">{{m.to_user.name}}  </a>                          
                            </td>
                            <td> {{m.created_at}}</td>
                            <td  class="d-none">{{m.estado}}</td>
                            <td class="dt-center"> 
                                <a href="{% url 'mostrar_modal' m.id %}"  data-href="{% url 'mostrar_modal' m.id %}"  class="btn btn-sm btn-outline-primary btn-read-trv" data-toggle="modal" data-target="#confirm-read" title="Leer">
                                    <i class="bi bi-eye-fill"></i>
                                </a>                                 
                                
                                    
                            </td>
                        </tr>      
                    {% endfor %}
                    </tbody>    
                </table>
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col">
                No tiene mensajes enviados 
            </div>
        </div>            
        {% endif %}    
        <div class="col-5">
            <div class="lector" id="msg_text"></div>        
        </div>
    </div>
</div>
<div class="row mt-4 ">
    <div class="col-6 border border-light mx-auto">
        <div class="row b">
            <div class="col">
                <h3>Enviar Mensaje</h3>
            </div>
        </div>
        <form action="/msg/send" method="POST">
            {% csrf_token %}
            <div class="row ">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            Para: 
                            <select class="form-select form-select-sm" name="destinatario_id" id="destinatario_id">
                                <option value="">Seleccione un contacto</option>
                                {% for c in contactos %}
                                <option value="{{c.contacto.id}}">{{c.contacto.name}}</option>
                                {% endfor %}
                            </select>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="mensaje"  class="form-label">Mensaje:</label>
                            <textarea name="mensaje" id="mensaje"  rows="6" class="form-control"> </textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="submit" class="btn btn-outline-light btn-sm my-3">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

 <!-- Modal -->
 <div class="modal fade" id="confirm-read" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Mensaje de {{mensaje.from_user.name}} para {{mensaje.to_user.name}}</h4>
            </div>
            <div class="modal-body">
            <p class="text-warning">{{ mensaje.contenido }}</p>
            </div>
            <div class="modal-footer">
            <a href="/msg/send" class="btn btn-danger text-light" >Cerrar</a>
            </div>
        </div>
    </div>       
</div>

<script>
    $(document).ready(function() {
        $('#new_search').hide();

        var oTblReport = $('#lista_mensajes')
        

        oTblReport.DataTable({
            "language": { 
                "search": 'Buscar',
                "lengthMenu": "Mostrar _MENU_ registros por página",
                //"info": "Mostrando _ENTRIES_ página _PAGE_ de _PAGES_",
                "paginate":{
                    previous: '‹',
                    next:     '›'
                }
            },
            "aLengthMenu":[[5,10,20,40,-1],[5,10,20,40,"Todos"]],
            "iDisplayLength":20
        });

        {% if mensaje.contenido|length > 0 %}
            $('#confirm-read').modal('show');
            
        {% endif %}
    });
    </script>


{% endblock %}

{% block libreria %}
{% endblock %}