{% extends "../base.html" %}

{% block titulo %}INDEX USUARIO{% endblock %}

{% block contenido %}
<h1>Bienvenid@: {{request.session.user.name}}</h1>

<div class="container">
    
    <div class="row mt-4">
        <div class="col-8">
            <h4>Resumen.(mejora: las cantidades llevan al detalle</h4>
        </div>
    </div>
    
   
    <div class="row">
        <div class="col-10">
          <table class="border">
            <tr><td> Total de usuarios: <a href="/user_list">{{cantidad_users}}</a>  </td></tr>
            <tr><td> Total de listas: {{cantidad_listas}}</td></tr>
            <tr><td> Total de cartas: {{cantidad_cartas}}</td></tr>
          </table>          
        </div>
    </div>
</div>



{% endblock %}

{% block libreria %}
{% endblock %}