{% extends '../base.html' %}

{% block titulo %}Recuperación de contraseña{% endblock %}

{% block contenido %}

    <h1>Recuperación de contraseña</h1>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class='form-group col'>
                <label for="email">Dirección de correo electrónico:</label>
            </div>
        </div>
        <div class="row">
            <div class="col form-group">
                <input type="email" id="email" name="email" required>
            </div>
        </div>
        <div class="row">
            <div class='form-group col mt-2'>
                <button type="submit">Enviar correo electrónico</button>
            </div>
        </div>
    </form>
    <div class="super-link">
        <a href="/user/password/new/{{user.id}}/{{token}}">Validar token</a>
    </div>
{% endblock %}