{% extends '../base.html' %}

{% block titulo %}Recuperación de contraseña{% endblock %}

{% block contenido %}
   <h1>Cambio de contraseña</h1>
   {% if is_valid == True %}

   ES VALIDO: {{is_valid}}
   <form action="/user/password/change" method="POST" >
    {% csrf_token %}
    <input type="hidden" name="user_id" value="{{user.id}}">
      <div class="mb-3 col-4">
        <label for="InputPassword1" class="form-label">Nuevo Password</label>
        <input type="password" class="form-control" id="InputPassword1" name="new_password">
        
      </div>
      <div class="mb-3 col-4">
        <label for="InputPassword2" class="form-label">Confirme Password</label>
        <input type="password" class="form-control" id="InputPassword2" name="new_password_confirm">
      </div>

      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
   {% else %}
      {% if estado == "success" %}
        Vuelva a ingresar con su nueva clave <a href="/login">aquí</a>
      {% else %}
      NO ES VALIDO
      {% endif %}
   

   {% endif %}

{% endblock %}