{% extends "../base.html" %}

{% block titulo %}PREFERENCIAS USUARIO{% endblock %}

{% block contenido %}
<h1>Preferencias de {{user.name}}</h1>
<form action="/user/preferencias" method="post">
    {% csrf_token %}

    {% for field in form %}
    <div class="row">
        <div class='form-group col-2'>
            <label for="{{ field.name }}">{{ field.label }}:</label>
        </div>
        <div class="col-4">{{ field }}</div>
    </div>
        {% endfor %}
    <button type="submit">Guardar</button>
</form>


{% endblock %}

{% block libreria %}
{% endblock %}